@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}


body {
   @apply bg-white text-black;
}

.dark body {
   @apply bg-[#1f1f1f] text-white;
}

input {
   @apply outline-none bg-white text-black p-2 rounded-md;
}

input:focus {
  @apply outline-none;
}

.dark .custom-input {
   @apply bg-[#27272A] text-white border-none;
}

.dark .custom-input:hover {
  @apply bg-[#3F3F46];
}

.dark div {
   @apply border-[#ffffff26];
}